RABBITMQ_DEFAULT_USER="user"
RABBITMQ_DEFAULT_PASS="password"
RABBITMQ_DEFAULT_HOST="localhost"
RABBITMQ_MAIN_QUEUE="magalu-item"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="postgres"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
MAX_CONCURRENCY=8